<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta charset="utf-8" />
<title><%= @title %></title>

<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />

</head>
<body>
	<%= yield %>
</body>
</html>